{% extends 'base.html.twig' %}

{% block title 'Users' %}

{% block body %}
    <table class="table table-striped mt-5 table-dark table-data">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Roles</th>
                <th>Créé le</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('app_user_edit', {id: user.id}) }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td>
                        {{ user.roles|join(', ') }}
                    </td>
                    <td>
                        {{ user.createdAt|format_date }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
